@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');


@font-face {
  font-family: 'NEXTART-Thin';
  src: url('../fonts/NEXTART-Thin.eot');
  src: url('../fonts/NEXTART-Thin.woff2') format('woff2'),
       url('../fonts/NEXTART-Thin.woff') format('woff'),
       url('../fonts/NEXTART-Thin.ttf') format('truetype'),
       url('../fonts/NEXTART-Thin.svg#NEXTART-Thin') format('svg'),
       url('../fonts/NEXTART-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXTART-Bold';
  src: url('../fonts/NEXTART-Bold.eot');
  src: url('../fonts/NEXTART-Bold.woff2') format('woff2'),
       url('../fonts/NEXTART-Bold.woff') format('woff'),
       url('../fonts/NEXTART-Bold.ttf') format('truetype'),
       url('../fonts/NEXTART-Bold.svg#NEXTART-Bold') format('svg'),
       url('../fonts/NEXTART-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('../fonts/DINPro-Medium.eot');
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Medium.woff2') format('woff2'),
  url('../fonts/DINPro-Medium.woff') format('woff'),
  url('../fonts/DINPro-Medium.ttf') format('truetype'),
  url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro-Bold.ttf') format('truetype'),
  url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Light';
  src: url('../fonts/DINPro-Light.eot');
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Light.woff2') format('woff2'),
  url('../fonts/DINPro-Light.woff') format('woff'),
  url('../fonts/DINPro-Light.ttf') format('truetype'),
  url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Black';
  src: url('../fonts/DINPro-Black.eot');
  src: url('../fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Black.woff2') format('woff2'),
  url('../fonts/DINPro-Black.woff') format('woff'),
  url('../fonts/DINPro-Black.ttf') format('truetype'),
  url('../fonts/DINPro-Black.svg#DINPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.eot');
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Regular.woff2') format('woff2'),
  url('../fonts/DINPro-Regular.woff') format('woff'),
  url('../fonts/DINPro-Regular.ttf') format('truetype'),
  url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body {
  min-width: 1320px;
}



$Din-reg: 'DINPro-Regular', sans-serif;

$burgundy: #63002f;
$white: #ffffff;
$brownish-grey: #686868;
$white-50: rgba(255, 255, 255, 0.5);
$search-gray: #a9a9a9;
$navy: #002d33;
$greyish: #b7b7b7;
$warm-grey: #888888;
$white-two: #f7f7f7;

html, body {
  font-family: $Din-reg;
}

h1, h2, h3, h4 {
  font-weight: 300;
  font-size: 3em;
}
.header {
  background: url("../img/header-background.jpg")no-repeat center;
  background-size: cover;
  min-height: 1010px;
  padding-top: 45px;
  position: relative;
  .title-header {
    position: absolute;
    bottom: 0;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-top: 45px;
    .title-zenit-header {
      font-size: 84px;
      color: #ffffff;
      border-bottom: 4px solid;
      text-transform: uppercase;
      font-family: "NEXTART-Bold", sans-serif;
      letter-spacing: 20px;
      display: inline-block;
      padding-bottom: 5px;
      padding-left: 15px;
    }
    .text-zenit-header {
      color: #ffffff;
      font-size: 44px;
      text-transform: uppercase;
      font-family: NEXTART-Thin,sans-serif;
      padding-top: 5px;
      display: inline-block;
    }
  }
}
.big-title {

}
.container {
  min-width: 1320px;
  width: 1320px;
  right: 0;
  left: 0;
  margin: auto;
}
.list-nav-header {
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-family: "NEXTART-Bold", sans-serif;
      text-transform: uppercase;
      font-size: 24px;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.btn-price {
  background-color: #00c7df;
  padding: 10px 15px;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    //width: 95%;
    //height: 95%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px dotted #ffffff;
    margin: 5px;

  }
}
.titul-bl {
  padding-top: 50px;

}
.title-titul {
  color: #00ade5;
  text-transform: uppercase;
  font-size: 74px;
  font-family: "NEXTART-Bold", sans-serif;
  letter-spacing: 20px;
}
.row-titul-list {
  margin-top: 35px;
  margin-bottom: 90px;
  .col-titul {
    border-right: 2px solid #0b177e;
    text-align: center;
    width: 20%;
    &:last-child {
      border-right: 0;
    }
  }
  .number-image {
    height: 260px;
    position: relative;
    margin-top: -22px;
    .number {
      font-size: 337px;
      color: #9ce4fb;
      line-height: 0;
      margin-top: 151px;
      display: inline-block;
      font-family: "NEXTART-Bold", sans-serif;
    }
    .image {
      position: absolute;
      left: -60px;
      right: 0;
      margin: auto;
      bottom: 0;
    }
  }
  .bl-title {
    margin-top: 60px;
    .title {
      font-size: 32px;
      color: #00ade5;
      text-transform: uppercase;
      font-family: "NEXTART-Bold", sans-serif;
      display: block;
    }
    .years-titul {
      display: block;
      font-size: 18px;
      color: #00ade5;
      font-family: NEXTART-Thin,sans-serif;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 1140px;
  .swiper-wrapper {
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
  }
}
.title-slider {
  font-size: 68px;
  color: #ffffff;
  border-bottom: 4px solid;
  text-transform: uppercase;
  font-family: "NEXTART-Bold", sans-serif;
  letter-spacing: 20px;
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 15px;
}
.bl-title-slider {
  padding-top: 50px;
  text-align: center;
  position: absolute;
  z-index: 2;
}
.pagin-bl {
  width: 80%;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  .swiper-button-white {
    height: 380px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.slider-stars {
  position: relative;
}
.swiper-button-white {
  background-image: none!important;
}
.swiper-button-prev {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    right: 0;
    margin: auto;
    background: url("../img/arrow-left.png")no-repeat center;
    height: 70px;
    width: 37px;
  }
}
.swiper-button-next {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -60px;
    left: 0;
    margin: auto;
    background: url("../img/arrow-right.png")no-repeat center;
    height: 70px;
    width: 37px;
  }
}
.slider-voleibol {
  .bl-title-slider {
    padding-top: 140px;
  }
  .swiper-button-white {
    height: 380px;
    top: 0;
    bottom: 0;
    margin: auto;
    &.swiper-button-prev {
      border-right: 6px solid #ffffff;
      padding-right: 32px;
    }
    &.swiper-button-next {
      border-left: 6px solid #ffffff;
      padding-left: 32px;
    }
  }

}
.price-bil {
  background-color: #00c7df;
  padding: 32px 34px;
  display: inline-block;
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
  font-family: "NEXTART-Bold",sans-serif;
  letter-spacing: 7px;
  margin: auto;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  bottom: -60px;
  max-width: 500px;
  text-align: center;
  text-decoration: none!important;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    //width: 95%;
    //height: 95%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px dotted #ffffff;
    margin: 7px;

  }
}
.street-bl {
  background: #d1e3f2 url(../img/steet-bl.jpg)no-repeat;
  min-height: 1207px;
  padding-top: 52px;
  background-position: center;
}
.title-adres {
  font-size: 78px;
  color: #000000;
  border-bottom: 4px dotted;
  text-transform: uppercase;
  font-family: "NEXTART-Bold", sans-serif;
  letter-spacing: 20px;
  display: inline-block;
  padding-bottom: 25px;
  padding-left: 15px;
}
.section-price-bil {
  background: url("../img/background-bil.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}
.btn-big-price {
  max-width: 1100px;
  height: 262px;
  font-size: 88px;
  color: #ffffff;
  background-color: rgba(0, 199, 223, 0.40);
  padding: 65px 34px;
  display: inline-block;
  text-transform: uppercase;
  font-family: "NEXTART-Bold",sans-serif;
  letter-spacing: 7px;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  text-align: center;
  text-decoration: none!important;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px dotted #ffffff;
    margin: 15px;
  }
}
.mail-nik {
  font-family: 'NEXTART-Thin',sans-serif;
  font-size: 36px;
  color: #ffffff;
}
.soc-ico {
  a {
    margin-right: 5px;
  }
}
.partners-link {
  a {
    margin-left: 50px;
  }
}
.footer {
  height: 180px;
  background-color: #000000;
  padding-top: 50px;
}
